<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miteki.fastsports">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".AIApplication"
        android:allowBackup="true"
        android:icon="@mipmap/fastsports_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomDemoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AIDialogActivity" />
        <activity android:name=".DemoMessagesActivity" />
        <activity android:name=".EventDetailActivity" />
        <activity android:name=".DemoNoticeActivity" />
        <activity android:name=".DemoGroupChatActivity" />
        <activity android:name=".SearchSportsActivity"></activity>
    </application>

</manifest>